<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Website</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>

<body>

  <!--------------------------
  Expand our Impact Section
  --------------------------->
  <section>
    <div class="impact-card-background" style="background-image: url(/assets/blocks.jpg)">
      <h1 class="impact-card-h1">
        Want to help us expand our impact?
      </h1>

      <div class="impact-btn-container">
        <button class="btn-primary bg-brand-yellow text-brand-charcoal mr-5 md:m-4">
          <a href="#"> Become a Volunteer</a>
        </button>
        <button class="btn-primary bg-brand-yellow text-brand-charcoal md:m-4">
          <a href="#">Partner with Us</a>
        </button> 
        <button class="btn-primary bg-brand-white text-brand-charcoal mt-5 md:m-4 col-span-2">
          <a href="#" class="flex gap-1 justify-center">
            <img src="/assets/icons/Heart.png" 
              alt="heart-icon"
            >
            Donate
          </a>
        </button>
      </div>
    </div>
    <span class="tiny-codes-snippet">function thecodeclubhouse</span>
  </section>
 <!--------------------------
  Impact Section Ends
  --------------------------->


<!-------------------------
  Footer Begins
------------------------->

<!--Link to webpages-->
  <footer class="footer-container">
    <div class="block md:flex gap-4 md:justify-evenly">
      <a href="index.html">
        <img 
          class="w-32 h-auto" 
          src="/assets/Frame 2 (1).png" 
          alt="NGO Logo"
        >
      </a>
      
      <ul  class="footer-webpages-link">
        <li class="navbar-links">
          <a href="#">About Us</a>
        </li>

        <li class="navbar-links">
          <a href="#">Programs</a>
        </li>

        <li class="navbar-links">
          <a href="#">Volunteer</a>
        </li>

        <li class="navbar-links">
          <a href="#">Donate</a>
        </li>
        
        <li class="navbar-links">
          <a href="#">Contact Us</a>
        </li>
      </ul>

<!--Social Media Icons-->
      <ul class="media-icons">
        <li>
          <a href="#" >
            <img 
              src="/assets/icons/Animated Icon (3).png" 
              alt="instagram-icon"
            >
          </a>
        </li>

        <li>
          <a href="#">
            <img 
              src="/assets/icons/Animated Icon (2).png" 
              alt="facebook-icon"
            >
          </a>
        </li>

        <li>
          <a href="#">
            <img src="/assets/icons/Animated Icon (1).png" alt="x-icon">
          </a>
        </li>

        <li>
          <a href="#">
            <img src="/assets/icons/Animated Icon.png" alt="youtube-icon">
          </a>
        </li>
      </ul>
    </div>

    <!--Newsletter Subscription-->
    <div class="newsletter">
      <h3 class="newsletter-h3">Newsletter</h3>
      <span class="text-brand-charcoal mr-4">Get updates about our events and classes.</span>
      <input type="text" name="email" class="btn-secondary mt-5 md:mt-0 mr-2" placeholder="Email Address">
      <button class="btn-primary bg-brand-yellow text-brand-charcoal hover:text-brand-white my-4">Subscribe Now</button>
    </div>

    <!--Copyright-->
    <span class="copyright"> 
      &copy; 2026 Coding Clubhouse. All rights reserved.
    </span>

    <!--Footer Ends-->
  </footer>
</body>
</html>
