<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
  <body>

  <!-------------------
  Navbar Begins
  --------------------->
  <header>
    <nav class="navbar-container">
      <img src="/assets/Frame 2.png" 
        alt="NGO Logo" 
        class="w-32 h-auto"
      >
    
      <!--Hamburger-->
      <div class="hamburger-icon">
        <img 
          src="/assets/icons/solar_hamburger-menu-bold.png" 
          alt="hamburger-icon"
        >
      </div>
          
      <!--Links to webpages-->
      <ul class="navbar-links-wrapper">
        <li class="mt-2">
          <a 
            href="#" 
            class="navbar-links">
            About Us
          </a>
        </li>

        <li>
          <a href="#" 
            class="navbar-links flex gap-1">
            Programs
            <img 
              src="/assets/icons/Icon.png" 
              alt="arrow-icon" 
              class="h-2 w-3 mt-1.5"
            >
          </a>
        </li>

        <li class="mt-2">
          <a href="#" 
             class="navbar-links">
             Resources
          </a>
        </li>

        <li class="mt-2">
          <a href="#" 
            class="navbar-links">
            Get Involved
          </a>
        </li>

        <li>
          <a href="#" 
            class="btn-primary bg-brand-yellow text-brand-charcoal flex">
            <img src="/assets/icons/Heart.png" alt="heart-icon">
            Donate
          </a>
        </li>

        <li class="mt-2">
          <a href="#" class="btn-primary bg-brand-white text-brand-charcoal">Contact Us</a>
        </li>
      </ul>
    </nav>
</header>
  <!-----------------------
  End Nav Bar
  ---------------------------->

</body>
</html>
