@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
  }
}

@layer components {
  .btn-primary {
    @apply text-brand-white px-4 py-2 rounded-lg text-sm;
  }
  .btn-secondary {
   /* Create a with secondary color. Add hover + focus states.*/
    @apply text-brand-gray px-10 py-6 rounded-sm text-sm border-2 border-brand-gray;
  }
  .btn-secondary:hover, .btn-secondary:focus {
    @apply bg-brand-purple text-white;
  }
  .btn-outline {
    @apply text-brand-white px-4 py-2 rounded-lg text-sm border-2 border-brand-purple;
  }
 .btn-outline:hover {
  @apply bg-brand-purple text-white;
 }

}
