@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-brand-white
  }
}

@layer components {
  .golden-btn{
    @apply bg-brand-yellow hover:bg-brand-white text-center font-bold text-black hover:text-black p-2 rounded transition ease-out duration-300
  }
  .card-bg{
    @apply mx-20 mt-30 mb-2 w-auto h-auto shadow-xl rounded-lg bg-brand-purple bg-no-repeat bg-cover text-center justify-center bg-blend-soft-light hover:bg-blend-darken transition ease-out duration-500
  }
  .btn-primary {                                                                              
    @apply text-brand-white px-4 py-2 rounded-lg text-sm;
  }
  .btn-secondary {
   /* Create a with secondary color. Add hover + focus states.*/
    @apply text-brand-charcoal px-10 py-6 rounded-md text-sm border-2 border-brand-gray;
  }
  .btn-secondary:hover, .btn-secondary:focus {
    @apply bg-brand-purple text-white;
  }
  .btn-outline {
    @apply text-brand-white px-4 py-2 rounded-lg text-sm border-2 border-brand-purple;
  }
  .btn-outline-img {
    @apply w-3 h-3  ml-2 inline-block;
  }
 .btn-outline:hover {
  @apply bg-brand-purple text-white;
 }
 .info-card {
  @apply px-6 py-4 shadow-md rounded-xl max-w-[350px] min-h-[550px] w-full;
 }
.info-card-title {
  @apply text-xl font-semibold mt-2 mb-4  text-left text-brand-charcoal px-1 py-1;
}
 .info-card-body {
    @apply text-base font-normal text-left text-brand-charcoal;
  }
  .info-card-workspace {
    @apply w-full h-full mt-4 rounded-md;
  }
  .info-card-frame {
    @apply w-20 h-10 mt-1 ;
  }
  .blog-news-card {
    @apply px-4 py-5 shadow-md rounded-xl max-w-[500px] w-full;
  }
  .blog-news-card-workspace {
    @apply w-full h-48 mt-4 mb-1 rounded-md;
  } 
  .blog-news-card-header {
    @apply flex items-center gap-2 ;
  }
  .blog-news-card-frame {
    @apply w-8 h-2 m-1 ;
  } 
  .blog-news-card-title {
    @apply text-sm font-semibold  text-left text-brand-gray ;
  }
}
