@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-brand-white
  }
  @font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
  }
}

@layer components {
  .btn-primary {
    @apply text-brand-white px-4 py-2 rounded-lg text-sm;
  }
  .btn-secondary {
   /* Create a with secondary color. Add hover + focus states.*/
    @apply text-brand-charcoal px-10 py-6 rounded-md text-sm border-2 border-brand-gray;
  }
  .btn-secondary:hover, .btn-secondary:focus {
    @apply bg-brand-purple text-white;
  }
  .btn-outline {
    @apply text-brand-white px-4 py-2 rounded-lg text-sm border-2 border-brand-purple;
  }
  .btn-outline-img {
    @apply w-3 h-3  ml-2 inline-block;
  }
 .btn-outline:hover {
  @apply bg-brand-purple text-white;
 }
 .info-card {
  @apply px-6 py-4 shadow-md rounded-xl max-w-[350px] min-h-[550px] w-full;
 }
.info-card-title {
  @apply text-xl font-semibold mt-2 mb-4  text-left text-brand-charcoal px-1 py-1;
}
 .info-card-body {
    @apply text-base font-normal text-left text-brand-charcoal;
  }
  .info-card-workspace {
    @apply w-full h-full mt-4 rounded-md;
  }
  .info-card-frame {
    @apply w-20 h-10 mt-1 ;
  }
  .blog-news-card {
    @apply px-4 py-5 shadow-md rounded-xl max-w-[500px] w-full;
  }
  .blog-news-card-workspace {
    @apply w-full h-48 mt-4 mb-1 rounded-md;
  } 
  .blog-news-card-header {
    @apply flex items-center gap-2 ;
  }
  .blog-news-card-frame {
    @apply w-8 h-2 m-1 ;
  } 
  .blog-news-card-title {
    @apply text-sm font-semibold  text-left text-brand-gray ;
  } 
  .small-section-header {
    @apply flex flex-col items-center  ; 
  }
  .small-section-header-title {
     @apply text-4xl font-heading font-semibold text-brand-blue flex items-center gap-2
  }
  .small-section-header-subTitle {
    @apply text-lg font-sans text-brand-charcoal mt-4 max-w-3xl text-center
  }
  .small-section-header-icon {
    @apply w-8 h-8 mb-2
  }
  .circular-images {
    @apply max-w-[70px] max-h-[70px] rounded-full  ;
  }
.profile-card {
  @apply w-full max-w-sm flex flex-col items-center
    rounded-xl border-2
    pt-6 pb-6 px-5
    text-center shadow-sm
    bg-brand-blue50 border-brand-gray; /* Changed to brand color */
}

.profile-card__avatar-wrap {
  @apply w-32 h-32 rounded-full bg-brand-white p-1.5 shadow-md;
}

.profile-card__avatar {
  @apply w-full h-full rounded-full object-cover block;
}

.profile-card__name {
  @apply mt-6 text-2xl font-semibold text-brand-charcoal;
}

.profile-card__role {
  @apply mt-2 text-[18px] font-extrabold leading-relaxed text-brand-blue; /* Changed to brand color */
}

.profile-card__bio {
  @apply mt-6 text-lg font-medium leading-relaxed text-brand-purple; /* Changed to brand color */
}

}

  /* Nav Bar classes*/
  .navbar-container {
    @apply bg-brand-purple 
    text-brand-white text-center 
    w-full h-auto 
    flex justify-between fixed
    top-0 m-0 p-2;
  }
  .hamburger-icon {
    @apply mt-2 cursor-pointer md:hidden;
  }
  .navbar-links-wrapper {
    @apply text-sm text-center 
    font-sans font-medium
    hidden md:flex gap-2 lg:gap-4
    px-2 py-2 
    mr-4;
  }
  .navbar-links {
    @apply p-2 hover:text-brand-yellow;
  }

  /* Footer Classes*/
  .footer-container {
    @apply bg-brand-white text-brand-charcoal
    w-full 
    px-10 pt-20;
  }
  .footer-webpages-link {
    @apply grid grid-cols-3 md:flex
    text-sm font-bold py-5;
  }
  .media-icons {
    @apply flex gap-10 md:col-span-3 md:py-5;
  }
  .newsletter {
    @apply block md:flex lg:ml-5 my-10 justify-center;
  }
  .newsletter-h3 {
    @apply font-bold tracking-wider mb-2 mr-6;
  }
  .copyright {
    @apply block text-gray-400 text-sm pb-10 pt-5 md:text-center;
  }

  /* Expand our impact */
  .impact-card-background {
    @apply w-auto h-auto text-center
    bg-brand-purple bg-cover bg-blend-soft-light 
    hover:bg-blend-darken 
    shadow-xl rounded-lg  
    mx-8 md:mx-20 mt-20 mb-2 p-8;
  }
  .impact-card-h1 {
    @apply font-bold text-xl md:text-3xl text-brand-charcoal font-heading tracking-wide;
  }
  .impact-btn-container {
    @apply grid grid-cols-2 md:flex justify-center pb-4 mt-5 md:mt-8 text-brand-charcoal;
  }
  .tiny-codes-snippet {
    @apply text-right text-sm flex justify-end text-brand-blue mb-10;
  }
